- content_for :viewjs do
  :javascript
    $(document).ready(function() {
      $("#submit-button").click(function() {
        $('#note-error, #note-ok').empty();
        $('#new_contact').fadeOut();
        $('#load').append("<img src='#{asset_path 'ajax-loader.gif'}' alt='Loading...' id='loading'>").fadeIn();
      });
    });
  
.page.left
  %h1.title= t 'pages.contact.title'
  #note-ok{:style => "display:none"}
  #note-error{:style => "display:none"}
  #contact-form
    = form_for @contact, :url => { :controller => :pages, :action => :send_contact }, :remote => true do |f|
      .clearfix
        = f.label :name
        .input= f.text_field :name, :class => "xlarge"
      .clearfix
        = f.label :email
        .input= f.text_field :email, :class => "xlarge"
      .clearfix
        = f.label :message
        .input
          = f.text_area :message, :rows => 6, :class => "xlarge"
          %span.help-block Note: All fields are required.
      .actions= f.submit t('pages.contact.send_button'), :id => 'submit-button', :name => 'submit', :class => "btn primary"
  #load