- content_for :viewjs do
  :javascript
    $(document).ready(function() {
      $("#submit-button").click(function() {
        $('#note-error, #note-ok').empty();
        $('#new_contact').fadeOut();
        $('#load').append("<img src='#{asset_path 'ajax-loader.gif'}' alt='Loading...' id='loading'>").fadeIn();
      });
    });
  
.page.left
  %h1.title Contact
  #note-ok{:style => "display:none"}
  #note-error{:style => "display:none"}
  #contact-form
    = form_for @contact, :url => { :controller => :pages, :action => :send_contact }, :remote => true do |f|
      .clearfix
        = f.label 'Name*'
        .input= f.text_field :name, :class => "xlarge"
      .clearfix
        = f.label 'Email*'
        .input= f.text_field :email, :class => "xlarge"
      .clearfix
        = f.label 'Message*'
        .input= f.text_area :message, :rows => 6, :class => "xlarge"
      .actions= f.submit 'Send', :id => 'submit-button', :name => 'submit', :class => "btn primary"
  #load