%h1= @title
%table
  %thead
    %tr
      %th Created at
      %th Author
      %th Title
      %th Published?
      %th Actions
  %tbody
    - for post in @posts
      %tr
        %td= l post.created_at, :format => :long
        %td= post.user.name
        %td= link_to post.title, post_path(post), :target => "_blank"
        %td
          - if post.draft?
            Draft
          - else
            = l post.published_at
        %td
          = link_to "Edit", edit_admin_post_path(post)
          |
          = link_to "Delete", admin_post_path(post), :confirm => 'Are you sure?', :method => :delete, :title => "Delete post"
= link_to "New post", new_admin_post_url, :class => "btn primary"