.topbar
  .fill
    .container
      %h3= link_to 'shamanime', root_path
      %ul
        %li= link_to 'Home', root_path
        %li= link_to 'Contact', contact_path
      - if user_signed_in?
        %ul.nav.secondary-nav
          %li.menu
            = link_to "Admin", "#", :class => "menu"
            %ul.menu-dropdown
              %li= link_to "Manage Posts", admin_posts_path
              %li= link_to "Manage Users", admin_users_path
              %li.divider
              %li= link_to "Logout", destroy_user_session_url, :method => :delete