.topbar
  .fill
    .container
      %h3= link_to 'shamanime', root_path
      %ul
        = render :partial => 'layouts/primary_nav_itens'
      - if user_signed_in?
        %ul.nav.secondary-nav
          %li.menu
            = link_to "Admin", "#", :class => "menu"
            %ul.menu-dropdown
              %li= link_to t('navigation.admin.manage_posts'), admin_posts_path
              %li= link_to t('navigation.admin.manage_users'), admin_users_path
              %li.divider
              %li= link_to t('navigation.admin.logout'), destroy_user_session_url, :method => :delete